<%- include("templates/header") %>
<p>Mika's Demo ╮(. ❛ ᴗ ❛.) ╭</p>
<div class="btn-group" role="group">
    <a href="/signup" class="btn btn-primary">Signup</a>
</div>
<br>
<br>
<div>
    <a href="/login" class="btn btn-light">Login</a>
</div>
<%- include("templates/footer") %>