<%- include("templates/header") %>
<div container class="d-flex align-items-center">
Hello, <%= name %>.
<div class="btn-group" role="group">

    <a href="/members" class="btn btn-sm btn-light">Go to Members Area</a>
</div>
<div>
    <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
</div>
<%- include("templates/footer") %>