<%- include("templates/header") %>
<p>Hello, <%= name %>.╮(. ❛ ᴗ ❛.) ╭ </p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/001.jpg" class="img-fluid rounded mb-3 mb-md-0">
        </div>
        <div class="col-md-4">
            <img src="/002.jpg" class="img-fluid rounded mb-3 mb-md-0">
        </div>
        <div class="col-md-4">
            <img src="./003.jpg" class="img-fluid rounded mb-3 mb-md-0">
        </div>
    </div>
</div>

<div>
    <a href="/logout">Logout</a>
</div>
<%- include("templates/footer") %>