<%- include("templates/header") %>
<h2>Signup</h2>

<form action="/submitUser" method="post">
    <div class="form-group">
        <label for="name">Email: </label>
        <input type="text" id="email" class="form-control" name="email" placeholder="Enter name"><br>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"><br>
        <label for="exampleInputPassword1">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("templates/footer") %>